.git
.github
.agents
.claude
.cursor
.opencode
.pi

.env
.env.*
!.env.example
!.env.production.example

node_modules
vendor

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/app/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

Dockerfile
Dockerfile.*
docker-compose*.yml

screenshots
