includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/tomasvotruba/unused-public/config/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app

    level: 5

    unused_public:
        methods: true
        properties: true
        constants: true
