http:
  routers:
    whispermoney-http:
      rule: Host(`whispermoney.test`)
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
      service: whispermoney
    whispermoney-https:
      rule: Host(`whispermoney.test`)
      entryPoints:
        - websecure
      service: whispermoney
      middlewares:
        - headers-secure
      tls: {}

  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
    headers-secure:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: https
        customResponseHeaders:
          X-Forwarded-Proto: https

  services:
    whispermoney:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:8000
        passHostHeader: true

tls:
  certificates:
    - certFile: /etc/traefik/certs/whispermoney.test.pem
      keyFile: /etc/traefik/certs/whispermoney.test-key.pem
